<div id="<%= dom_id category %>">
  <%= category.name %>
  <%= link_to t('.edit'), edit_category_path(category) %>
  <%= link_to t('.delete'), category_path(category), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
  } %>
</div>
