<div id="favorite">
  <% if product.favorite %>
    <%= link_to 'ðŸ’”', favorite_path(product.id), data: {
      turbo_method: :delete
    } %>
  <% else %>
    <%= link_to 'â¤ï¸', favorites_path(product_id: product.id), data: {
      turbo_method: :post
    } %>
  <% end %>
</div>
