<h1>Productos:</h1>

<% @products.each do |product| %>
  <%= link_to product_path(product), class: 'product' do %>
    <%= image_tag product.photo, width: 100 if product.photo.attached? %>
    <h2><%= product.title %></h2>
    <span><%= product.price %>$</span>
  <% end %>
<% end %>
